* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient( 117deg,  rgba(123,216,96,1) 39.2%, rgba(255,255,255,1) 156.2% );
    align-items: center;
}

header h1 {
    font-size: 3rem;
}

header ul {
    display: flex;
    font-size: 2rem;
}

header ul li {
    padding: 10px;
    list-style:  none;
}

section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background:white;   
    width: 100%;
}

section h2 {
    margin-top: 10%;
    text-align: center;
    height: 120px;
    font-size: 2rem;
}

footer{
    align-items: center;
    height: 10vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );

}

footer ul {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    list-style: none;
    padding-top: 2.5vh;
    font-weight: bold;
    color: white;
    
}